#rem{
    position: fixed;
    width: 260px;
    right: 0px;
    bottom: 0px;
}

#wa{
    display: flex;
    justify-content: center; /* Mengatur teks secara horizontal di tengah */
    align-items: center; /* Mengatur teks secara vertikal di tengah */
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 40px;
    left: 120px;
}

#wa img{
    margin-right: 10px;
}

#rem{
    position: fixed;
    width: 260px;
    right: 0px;
    bottom: 0px;
}

#wa{
    display: flex;
    justify-content: center; /* Mengatur teks secara horizontal di tengah */
    align-items: center; /* Mengatur teks secara vertikal di tengah */
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 40px;
    left: 120px;
}

#wa img{
    margin-right: 10px;
}

