.container{
    display: flex;
    width: auto;
    height: 100%;
}
.side-bar{
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    height: 100%;
    border-radius: 5px;
    background-color: #0F51D2;
    border-left: 5px solid #A5BBE6;
}
.side-bar{
    position: fixed;
}
.side{
    width: 100%;
    height: auto;  
}

.side-top-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
}

.side-top-bar img{
    border-radius: 5px;
    display: block;
    width: 50px;
}

.side-top-bar a {
    border-radius: 5px;
    margin-top: 20px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;
    background-color: #F1F4FA;
}

.side-center-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.side-center-bar img{
    border-radius: 5px;
    display: block;
    width: 50px;   
}

.side-center-bar a {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;  
}

.side-bottom-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    border-top: 1px solid #3F6ECA;
}
.side-bottom-bar img{
    border-radius: 10px;
    display: block;
    width: 50px;
}
.side-bottom-bar a {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;
}

.container{
    display: flex;
    width: auto;
    height: 100%;
}
.side-bar{
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    height: 100%;
    border-radius: 5px;
    background-color: #0F51D2;
    border-left: 5px solid #A5BBE6;
}
.side-bar{
    position: fixed;
}
.side{
    width: 100%;
    height: auto;  
}

.side-top-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
}

.side-top-bar img{
    border-radius: 5px;
    display: block;
    width: 50px;
}

.side-top-bar a {
    border-radius: 5px;
    margin-top: 20px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;
    background-color: #F1F4FA;
}

.side-center-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.side-center-bar img{
    border-radius: 5px;
    display: block;
    width: 50px;   
}

.side-center-bar a {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;  
}

.side-bottom-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    border-top: 1px solid #3F6ECA;
}
.side-bottom-bar img{
    border-radius: 10px;
    display: block;
    width: 50px;
}
.side-bottom-bar a {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    display: block;
    border: 1px solid #3F6ECA;
}